<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
</head>

<body>


    <h1> COVID STADISTICS </h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <label for="file"> Add File </label>
            <input type="file" name="file">
            <br>
            <button type=submit>Submit</button>
        </div>
    </form>

    <h4>Select the values you want to see</h4>
    <input type="checkbox" id="agesCheck" onchange="changeUI()"> <label for="agesCheck">Ages</label>
    <input type="checkbox" id="sexCheck" onchange="changeUI()"> <label for="sexCheck">Sex</label>
    <input type="checkbox" id="agesSexCheck" onchange="changeUI()"> <label for="agesSexCheck" disabled>Ages and
        sex</label>
    <input type="checkbox" id="resultCheck" onchange="changeUI()"> <label for="resultCheck" disabled>Results</label>
    <input type="checkbox" id="regionCheck" onchange="changeUI()"> <label for="regionCheck">Region</label>
    <input type="checkbox" id="pacienteCheck" onchange="changeUI()"> <label for="pacienteCheck">Paciente Type</label>
    <input type="checkbox" id="pacienteAgeCheck" onchange="changeUI()"> <label for="pacienteAgeCheck" disabled>Paciente
        Age</label>


    <div id="ages" style="display: none"></div>
    <div id="sex" style="display: none"></div>
    <div id="agessex" style="display: none"></div>
    <div id="result" style="display: none"></div>
    <div id="region" style="display: none"></div>
    <div id="paciente" style="display: none"></div>
    <div id="pacienteage" style="display: none"></div>
    <input id="json-info" value='{{objs_list}}'/>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>




    


</body>

</html>