<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
</head>
<body>
        <div id="ages"></div>
        <div id="sex"></div>
        <div id="agessex"></div>
        <div id="result"></div>
        <div id="region"></div>
        <div id="paciente"></div>
        <div id="pacienteage"></div>
        <!--
<div id="ages" style="display: none"></div>
<div id="sex" style="display: none"></div>
<div id="agessex" style="display: none"></div>
<div id="result" style="display: none"></div>
<div id="region" style="display: none"></div>
<div id="paciente" style="display: none"></div>
<div id="pacienteage" style="display: none"></div>-->


<h1> todo app </h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <div>
        <label for="file"> Add File </label>
        <input type="file" name="file" >
        <br>
        <button type=submit>Submit</button>
    </div>
</form>
<!--

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        
        var allData = {{ objs_list|safe }};

        var ages = allData[0];
        var sex = allData[1];
        var agesSex = allData[2];
        var result = allData[3];
        var region = allData[4];
        var paciente = allData[5];
        var pacienteAge = allData[6];

        var dataAge = google.visualization.arrayToDataTable(ages);
        var dataSex = google.visualization.arrayToDataTable(sex);
        var dataAgesSex = google.visualization.arrayToDataTable(agesSex);
        var dataResult = google.visualization.arrayToDataTable(result);
        var dataRegion = google.visualization.arrayToDataTable(region);
        var dataPaciente = google.visualization.arrayToDataTable(paciente);
        var dataPacienteAge = google.visualization.arrayToDataTable(pacienteAge);

        var optionsAge = {'title': 'Age', 'width': 550, 'height': 400};
        var optionsSex = {'title': 'Sex', 'width': 550, 'height': 400, 'pieHole': 0.4};
        var optionsAgeSex = {'title': 'Age and Sex', 'width': 550, 'height': 400, 'isStacked': 'percent'};
        var optionsResult = {'title': 'Results', 'width': 550, 'height': 400};
        var optionsRegion = {'title': 'Region', 'width': 550, 'height': 400};
        var optionsPaciente = {'title': 'Pacient Type', 'width': 550, 'height': 400};
        var optionsPacienteAge = {'title': 'Pacient Type and Age', 'width': 550, 'height': 400};

        var chartAge = new google.visualization.ColumnChart(document.getElementById('ages'));
        chartAge.draw(dataAge, optionsAge);

        var chartSex = new google.visualization.PieChart(document.getElementById('sex'));
        chartSex.draw(dataSex, optionsSex);

        var chartAgeSex = new google.visualization.BarChart(document.getElementById('agessex'));
        chartAgeSex.draw(dataAgesSex, optionsAgeSex);

        var chartResult = new google.visualization.PieChart(document.getElementById('result'));
        chartResult.draw(dataResult, optionsResult);

        var chartRegion = new google.visualization.ColumnChart(document.getElementById('region'));
        chartRegion.draw(dataRegion, optionsRegion);

        var chartPaciente = new google.visualization.ColumnChart(document.getElementById('paciente'));
        chartPaciente.draw(dataPaciente, optionsPaciente);

        var chartPacienteAge = new google.visualization.BarChart(document.getElementById('pacienteage'));
        chartPacienteAge.draw(dataPacienteAge, optionsPacienteAge);
    }

</script>
jinja template in action -->
{% for category, cat_value  in objs_list.items() %}
    <h1>Category: {{category}}</h1>
    {% for key, value in cat_value.items() %}
        <h2>Key: {{key}} Value: {{value}}</h2>
    {% endfor %}
{% endfor %}
</body>
</html>